<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
    <meta name="viewport" content="width-device-width, initial-scale=1, maximum-scale=1"/>
    <link rel="stylesheet" type="text/css" href="https://bootswatch.com/5/morph/bootstrap.min.css">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
</head>
<body>
<a href="{% url 'polls:index' %}"><img src="https://netstorage.ringcentral.com/appext/logo/
kNku72HNQPWCo-uLCKS4Hw~wCZbXGy1Qu-z3dzQ3U_j7Q/b8e47126-bf75-41df-bbf0-844db0a925a4.png" height="40"/></a>
<a href="{% url 'articles:index' %}"><img src="https://yt3.googleusercontent.com/
xDY6cOwkcDZHAO6oxmZJRWxy2Jg38fFUe_QefYGQ1_zWpVQKd3Z8xMFq7v4qNHc_OBYw_lp0_g=s900-c-k-c0x00ffffff-no-rj" height="40"/></a>
<a href="{% url 'shop:index' %}"><img
        src="https://sun6-21.userapi.com/s/v1/ig2/f7j54uJOxTvGcu7F3WScCds9taznXHwiLJ_LRExy0p_B4ouhTnt9LNZiAn8trVgNCV-apSulGGdElFvMLgZkTnlu.jpg?size=800x800&quality=95&crop=0,0,800,800&ava=1"
        height="40"/></a>

{% if user.is_authenticated %}
<div>
    <div style="float:left; with: 20%; overflow: hidden; padding-top: 8px">Добро пожаловать <b>{{ user }} </b></div>
    <div>
        <form action="{% url 'logout' %}?next={{ next }}" method="post">
            {% csrf_token %}
            <input type="submit" value="Logout" class="btn btn-danger"/>
        </form>
    </div>
</div>
{% else %}
<a href="{% url 'login' %}?next={{ next }}" class="btn btn-info">Login</a>
{% endif %}

{% if form.errors %}
<p align="center" style="color: red">Your input incorrect. Please try again.</p>
{% endif %}
<div class="container bg-white p-5" style="width:520px;">
<form method="post">
    {% csrf_token %}
    {% for field in form %}
    <p>
        {{ field.label_tag }}<br>
        {{ field }}
        {% if field.help_text %}
        <small style="color: grey">{{ field.help_text }}</small>
        {% endif %}
        {% for error in field.errors %}
    <p style="color: red">{{ error }}</p>
    {% endfor %}
    </p>
    {% endfor %}
    <button type="submit" class="btn btn-secondary btn-lg w-100 btn-block p-4"> &nbsp; Create account</button>
</form>
</div>


</body>
</html>

