{% extends 'articles/base.html' %}

{% block body %}

<h1 align="center">
    {{ article.title }}
</h1>
<ul>
    Authors:
    {% for author in article.authors.all %}
    <a href="{% url 'articles:author' author.id %}">{{ author.first_name }} {{ author.last_name }}</a>
    {% if not forloop.last %},{% endif %}
    {% endfor %}
</ul>
<ul>
    {{ article.text }}
</ul>
<ul>
    Likes: {{ votes }}
</ul>
&emsp;<a href=" {% url 'articles:like' article.id %}" class="btn btn-primary">Like</a>
{% endblock %}